/* Overall Formatting */

html {
  font-family: "Lucida Sans", sans-serif;
  box-sizing: border-box;
}

.eqn {
  margin-left: 30px;
}

body {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}

.main {
  justify-content: center
}

.navbar {
  display: block;
  position: relative;
  color: black;
  padding: 5px;
  text-align: right;
  margin: auto;
}

.header {
  display: block;
  align-items: center;
  position: relative;
  color: black;
  padding: 15px;
  text-align: center;
  margin: auto;
  width: 100%
}

.input {
  display: table-cell;
  float: left;
  align-items: center;
  position: relative;
  color: black;
  padding: 15px;
  /* text-align: center; */
  margin: auto;
  width: 100%
}

.footer {
  display: block;
  align-items: center;
  position: relative;
  color: black;
  padding: 15px;
  text-align: center;
  margin: auto;
  width: 100%  
}

select {
}

.section::after {
  content: "";
  clear: both;
  display: table;
}

.section {
  flex-wrap: nowrap;
}

.alignment {
  margin: auto;
}

/* Label Formatting */

.input_label {
  text-align: right;
  float: left;
  clear: left;
  width: 50%;
  padding-top: 5px;
  padding-right: 2px;
  vertical-align: middle;
}

.input_dropdown {
  padding: 5px;
  text-align: left;
  float: left;
  box-sizing:content-box;
  width: 25%;
  vertical-align: middle;
}

.input_textbox {
  padding: 5px;
  box-sizing:content-box;
  width: 25%;
}

.input_units {
  text-align: left;
  clear: right;
  padding-left: 2px;
  vertical-align: middle;
}

/* Buttons */

.generalButton {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #b9b9b9;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border: #333333;
  /*display: block;*/
  border-radius: 8px;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.generalButton:hover {
  background-color: #a3a3a3;
}

/* Specifying Media Width */

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}
