<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>Calculators - Home</title>
    <link href="static/design.css" rel="stylesheet" type="text/css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [["$", "$"]],
        },
        svg: {
          fontCache: "global",
        },
      };
    </script>
  </head>

  <body style="max-width: 800px;">
    <div class="header">
      <h1>Dynamic Engineering Calculators</h1>
      <h4>A collection of web pages for dynamically generating descriptive example calculations.</h4>
    </div>
    <div class="output">
      <h3>Strucutral Steel Design</h3>
      <ul>
        <li><a href="/wide_flange_column_basic">Axial Compression Strength of Wide Flange Steel Columns (Basic)</a></li>
      </ul>
    
      <h3>Threaded Fasteners</h3>
      <ul>
        <li><a href="/bolt_tensile_FEDSTD">Bolt Tensile Strength Calculation According to FED-STD-H28/2B</a></li>
      </ul>
    
    </div>
    <div class="footer">
      <p>Developed by Mark Denavit and Jonathan Smith at the University of Tennessee, Knoxville.</p>
      <p>This work was supported by the Naval Engineering Education Consortium [Award Number N00174-22-1-0017].</p>
    </div>
  </body>
</html>
