<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>Calculators</title>
    <link href="static/design.css" rel="stylesheet" type="text/css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [["$", "$"]],
        },
        svg: {
          fontCache: "global",
        },
      };
    </script>
  </head>

  <body>
    <form action="{{ name }}" method="POST">
      <div id="main">
        <div class="headerDiv">
          {{headerText|safe}}
          <a class="button2" style="margin-left: auto" href="/">Home</a>
        </div>
        <hr />
        <div class="input">{{inputText|safe}}</div>
        <hr />
        <div class="output">{{outputText|safe}}</div>
        <hr />
        <div class="footer">{{footerText|safe}}</div>
      </div>
    </form>
  </body>
</html>
