<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>Wide Flange Steel Members Calculator</title>
    <link
      href="static/responsive_design.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [["$", "$"]],
        },
        svg: {
          fontCache: "global",
        },
      };
    </script>
  </head>

  <body>
    <form action="/bolt" method="POST">
      <div class="section">
        <div class="header col-4">
          <h1>Bolt Calculator</h1>
          <h4>Input Values to Right First, Click Calculate</h4>
        </div>
      </div>
      <div class="section">
        <div class="col-4">
          <label
            class="bolt_select_label"
            for="boltDropdown"
            style="vertical-align: middle"
            >Selected Bolt:
          </label>
          <select class="boltDropdown" id="boltDropdown" name="boltDropdown">
            <option id="custom" value="customSelection">
              Custom Selection
            </option>
            <option id="1/4-20" value="1/4-20">1/4-20</option>
            <option id="1/4-28" value="1/4-28">1/4-28</option>
            <option id="1/2-13" value="1/2-13">1/2-13</option>
            <option id="1/2-20" value="1/2-20">1/2-20</option>
            <option id="3/4-10" value="3/4-10">3/4-10</option>
            <option id="3/4-16" value="3/4-16">3/4-16</option>
            <option id="1-8" value="1-8">1-8</option>
            <option id="1-14" value="1-14">1-14</option>
          </select>
        </div>
        <script>
          window.onload = function () {
            if (sessionStorage.getItem("boltCodeHasRun") === null) {
              document.getElementById("boltDropdown").value =
                "Custom Selection";
            }
            if (sessionStorage.getItem("boltCodeHasRun") === null) {
              sessionStorage.setItem("boltCodeHasRun", true);
            }
          };
        </script>
        <script>
          document.getElementById("boltDropdown").onchange = function () {
            sessionStorage.setItem(
              "boltSelectItem",
              document.getElementById("boltDropdown").value
            );
            this.form.submit();
          };

          if (sessionStorage.getItem("boltSelectItem")) {
            document.getElementById("boltDropdown").options[
              sessionStorage.getItem("boltSelectItem")
            ].selected = true;
          }
        </script>
      </div>
      <div class="section">
        <div class="col-3">
          <label class="boltInputLabel" for="n">n (Threads per Inch) : </label>
          <input
            class="boltInput"
            type="text"
            id="n"
            value="{{'%g'%(n)}}"
            name="n"
          />
          <label class="unit">???</label>

          <label class="boltInputLabel" for="dmin"
            >d<sub>min</sub> (Minimum Basic Diameter) :
          </label>
          <input
            class="boltInput"
            type="text"
            id="dmin"
            value="{{'%g'%(dmin)}}"
            name="dmin"
          />
          <label class="unit">???</label>

          <label class="boltInputLabel" for="dbsc"
            >d<sub>bsc</sub> (Basic Diameter) :
          </label>
          <input
            class="boltInput"
            type="text"
            id="dbsc"
            value="{{'%g'%(dbsc)}}"
            name="dbsc"
          />
          <label class="unit">???</label>

          <label class="boltInputLabel" for="d2min"
            >d<sub>2,min</sub> (Minimum Pitch Diameter, External Thread) :
          </label>
          <input
            class="boltInput"
            type="text"
            id="d2min"
            value="{{'%g'%(d2min)}}"
            name="d2min"
          />
          <label class="unit">???</label>

          <label class="boltInputLabel" for="D1bsc"
            >D<sub>1,bsc</sub> (Basic Minor Diameter, Internal Thread) :
          </label>
          <input
            class="boltInput"
            type="text"
            id="D1bsc"
            value="{{'%g'%(D1bsc)}}"
            name="D1bsc"
          />
          <label class="unit">???</label>

          <label class="boltInputLabel" for="D1max"
            >D<sub>1,max</sub> (Maximum Minor Diameter, Internal Thread) :
          </label>
          <input
            class="boltInput"
            type="text"
            id="D1max"
            value="{{'%g'%(D1max)}}"
            name="D1max"
          />
          <label class="unit">???</label>

          <label class="boltInputLabel" for="D2max"
            >D<sub>2,max</sub> (Maximum Pitch Diameter, Internal Thread) :
          </label>
          <input
            class="boltInput"
            type="text"
            id="D2max"
            value="{{'%g'%(D2max)}}"
            name="D2max"
          />
          <label class="unit">???</label>
          <hr />
          <label class="boltInputLabel" for="UTSs"
            >UTSs (Strength of Externally Threaded Part) :
          </label>
          <input
            class="boltInput"
            type="text"
            id="UTSs"
            value="{{'%g'%(UTSs)}}"
            name="UTSs"
          />
          <label class="unit">???</label>

          <label class="boltInputLabel" for="UTSn"
            >UTSn (Strength of Internally Threaded Part) :
          </label>
          <input
            class="boltInput"
            type="text"
            id="UTSn"
            value="{{'%g'%(UTSn)}}"
            name="UTSn"
          />
          <label class="unit">???</label>

          <label class="boltInputLabel" for="LE"
            >LE (Length of Engagement) :
          </label>
          <input
            class="boltInput"
            type="text"
            id="LE"
            value="{{'%g'%(LE)}}"
            name="LE"
          />
          <label class="unit">???</label>
        </div>
      </div>
      <hr />

      <div id="main">{{bolt_output_text|safe}}</div>
    </form>
  </body>
</html>
