<!--

Text for header

<p>As noted in AISC <i>Specification</i> Commentary Section E4, torsional buckling is a failure mode usually not considered in 
the design of hot-rolled columns. This failure mode generally does not govern unless the section is manufactured from relatively 
thin plates or a torsional unbraced length significantly larger than the <i>y-y</i> axis flexural unbraced length is present.</p>

-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>Wide Flange Steel Members Calculator</title>
    <link
      href="static/responsive_design.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [["$", "$"]],
        },
        svg: {
          fontCache: "global",
        },
      };
    </script>
  </head>

  <body>
    <form action="/wideFlange" method="POST">
      <div class="section">
        <div class="col-4">
          <a class="button2" href="/">Home</a>
          <a class="button2" href="https://utk.edu">Test Button</a>
        </div>
      </div>
      <div class="section">
        <div class="header col-4">
          <h1>Wide Flange Steel Members Calculator</h1>
          <h4>
            Input Values to Right First, Select Member at Left to Calculate
          </h4>
        </div>
      </div>
      <div class="section">
        <div class="col-3">
          <label
            class="member_select_label"
            for="wideFlangeDropdown"
            style="vertical-align: middle"
            >Selected Member:
          </label>
          <select
            class="wideFlangeDropdown"
            id="wideFlangeDropdown"
            name="wideFlangeDropdown"
          >
            {% for member in member_list %}
            <option id="{{member}}" value="{{member}}">{{member}}</option>
            {% endfor %}
          </select>
        </div>
        <script>
          window.onload = function () {
            if (sessionStorage.getItem("wideFlangeCodeHasRun") === null) {
              document.getElementById("wideFlangeDropdown").value = "W44X290";
            }
            if (sessionStorage.getItem("wideFlangeCodeHasRun") === null) {
              sessionStorage.setItem("wideFlangeCodeHasRun", true);
            }
          };
        </script>
        <script>
          document.getElementById("wideFlangeDropdown").onchange = function () {
            sessionStorage.setItem(
              "wideFlangeSelectItem",
              document.getElementById("wideFlangeDropdown").value
            );
            this.form.submit();
          };

          if (sessionStorage.getItem("wideFlangeSelectItem")) {
            document.getElementById("wideFlangeDropdown").options[
              sessionStorage.getItem("wideFlangeSelectItem")
            ].selected = true;
          }
        </script>
        <div class="col-3">
          <label class="member_space">{{member}}</label> <br />
          <label class="memberInputLabel" for="Fy">F<sub>y</sub> : </label>
          <input
            class="wideFlangeInput"
            type="text"
            id="Fy"
            value="{{'%g'%(Fy)}}"
            name="Fy"
          />
          <label class="unit"> ksi</label> <br />

          <label class="memberInputLabel" for="E">E : </label>
          <input
            class="wideFlangeInput"
            type="text"
            id="E"
            value="{{'%g'%(E)}}"
            name="E"
          />
          <label class="unit"> ksi</label> <br />

          <label class="memberInputLabel" for="Lcx">L<sub>cx</sub> : </label>
          <input
            class="wideFlangeInput"
            type="text"
            id="Lcx"
            value="{{'%g'%(Lcx)}}"
            name="Lcx"
          />
          <label class="unit"> in</label> <br />

          <label class="memberInputLabel" for="Lcy">L<sub>cy</sub> : </label>
          <input
            class="wideFlangeInput"
            type="text"
            id="Lcy"
            value="{{'%g'%(Lcy)}}"
            name="Lcy"
          />
          <label class="unit"> in</label>
        </div>
      </div>
      <hr />

      <div id="main">{{output_text|safe}}</div>
    </form>
  </body>
</html>
