<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>Wide Flange Steel Members Calculator</title>
    <link
      href="static/responsive_design.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [["$", "$"]],
        },
        svg: {
          fontCache: "global",
        },
      };
    </script>
  </head>

  <body>
    <form action="/wideFlange" method="POST">
      <div class="section">
        <div class="header col-4">
          <h1>Wide Flange Steel Members Calculator</h1>
          <h4>
            Input Values to Right First, Select Member at Left to Calculate
          </h4>
        </div>
      </div>
      <hr />
      <div class="section">
        <div class="col-3 alignment">
          <label
            class="member_select_label"
            for="memberDropdown"
            style="vertical-align: middle"
            id="test"
            >Selected Member:
          </label>
          <select
            class="memberDropdown"
            id="memberDropdown"
            name="memberDropdown"
          >
            {% for member in member_list %}
            <option id="{{member}}" value="{{member}}">{{member}}</option>
            {% endfor %}
          </select>
        </div>
        <script>
          document.getElementById("memberDropdown").onchange = function () {
            sessionStorage.setItem(
              "flangeSelectItem",
              document.getElementById("memberDropdown").value
            );
            this.form.submit();
          };

          if (sessionStorage.getItem("flangeSelectItem")) {
            document.getElementById("memberDropdown").options[
              sessionStorage.getItem("flangeSelectItem")
            ].selected = true;
          }
        </script>
        <div class="col-3">
          <label class="member member_space">{{member}}</label> <br />
          <label class="user_input-label" for="Fy">F<sub>y</sub> : </label>
          <input
            class="user_input"
            type="text"
            id="Fy"
            value="{{'%g'%(Fy)}}"
            name="Fy"
          />
          <label class="unit"> ksi</label> <br />

          <label class="user_input-label" for="E">E : </label>
          <input
            class="user_input"
            type="text"
            id="E"
            value="{{'%g'%(E)}}"
            name="E"
          />
          <label class="unit"> ksi</label> <br />

          <label class="user_input-label" for="Lcx">L<sub>cx</sub> : </label>
          <input
            class="user_input"
            type="text"
            id="Lcx"
            value="{{'%g'%(Lcx)}}"
            name="Lcx"
          />
          <label class="unit"> in</label> <br />

          <label class="user_input-label" for="Lcy">L<sub>cy</sub> : </label>
          <input
            class="user_input"
            type="text"
            id="Lcy"
            value="{{'%g'%(Lcy)}}"
            name="Lcy"
          />
          <label class="unit"> in</label>
        </div>
      </div>
      <hr />
      <div id="main">{{flangeOutputText|safe}}</div>
    </form>
  </body>
</html>
