<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>Wide Flange Steel Members Calculator</title>
    <link href="static/design.css" rel="stylesheet" type="text/css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [["$", "$"]],
        },
        svg: {
          fontCache: "global",
        },
      };
    </script>
  </head>

  <body>
    <form action="/" method="POST">
      <div class="section">
        <div class="header col-4">
          <h1>Site Title</h1>
          <h4>Subheader (Short description of site?)</h4>
        </div>
      </div>
      <div class="section">
        <div class="col-1"></div>
        <div class="col-2">
          <a href="/wideFlange" class="button1"> Wide Flange Calculator</a>
          <a href="https://www.utk.edu/" class="button1">Test Button</a>
          <a href="/bolt" class="button1">Bolt Calculator</a>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="section">
        <div class="header col-4">
          <h4>Short info section about creators? Important links?</h4>
        </div>
      </div>
    </form>
  </body>
</html>
