<!--
  IDEAS
  Add hyperlinks to noted standards
  Option for user to save a member in a dropdown that will automatically populate fields with saved values
    Very unsure of how to go about this, probably involves local memory, cookies, etc.
  Combine ALL text in python and pass to html except for head of html (Everything down to line 127)
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <title>Wide Flange Steel Members Calculator</title>
    <link
      href="static/responsive_design.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [["$", "$"]],
        },
        svg: {
          fontCache: "global",
        },
      };
    </script>
  </head>

  <body>
    <form action="/" method="POST">
      <div class="section">
        <div class="col-2 alignment">
          <label
            class="member_select_label"
            for="member_dropdown"
            style="vertical-align: middle"
            >Selected Member:
          </label>
          <select
            class="member_dropdown"
            id="member_dropdown"
            name="member_dropdown"
          >
            {% for member in member_list %}
            <option id="{{member}}" value="{{member}}">{{member}}</option>
            {% endfor %}
          </select>
        </div>
        <script>
          document.getElementById("member_dropdown").onchange = function () {
            localStorage.setItem(
              "selectedItem",
              document.getElementById("member_dropdown").value
            );
            this.form.submit();
          };

          if (localStorage.getItem("selectedItem")) {
            document.getElementById("member_dropdown").options[
              localStorage.getItem("selectedItem")
            ].selected = true;
          }
        </script>
        <div class="header1 col-9">
          <h1>Wide Flange Steel Members Calculator</h1>
          <h4>
            Input Values to Right First, Select Member at Left to Calculate
          </h4>
        </div>
        <div class="col-2">
          <label class="member member_space">{{member}}</label> <br />
          <label class="user_input-label" for="Fy">F<sub>y</sub> : </label>
          <input
            class="user_input"
            type="text"
            id="Fy"
            value="{{'%g'%(Fy)}}"
            name="Fy"
          />
          <label class="unit"> ksi</label> <br />

          <label class="user_input-label" for="E">E : </label>
          <input
            class="user_input"
            type="text"
            id="E"
            value="{{'%g'%(E)}}"
            name="E"
          />
          <label class="unit"> ksi</label> <br />

          <label class="user_input-label" for="Lcx">L<sub>cx</sub> : </label>
          <input
            class="user_input"
            type="text"
            id="Lcx"
            value="{{'%g'%(Lcx)}}"
            name="Lcx"
          />
          <label class="unit"> in</label> <br />

          <label class="user_input-label" for="Lcy">L<sub>cy</sub> : </label>
          <input
            class="user_input"
            type="text"
            id="Lcy"
            value="{{'%g'%(Lcy)}}"
            name="Lcy"
          />
          <label class="unit"> in</label>
        </div>
      </div>
      <hr />

      <!-- Everything above this note should NOT be edited -->

      <div id="main">
        <div id="material_properties" class="section">
          <div class="col-5">{{section_properties_text|safe}}</div>
        </div>
        <hr />
        <div id="slenderness_check" class="section">
          <div class="col-5">{{slenderness_check_text|safe}}</div>
        </div>
        {{line|safe}}
        <div id="width_to_thickness" class="section">
          <div class="col-5">{{column_strength_text|safe}}</div>
        </div>
        {{line|safe}}
        <div id="critical_stresses" class="section">
          <div class="col-5">{{critical_stresses_text|safe}}</div>
        </div>
        {{line|safe}}
        <div id="compressive_strength" class="section">
          <div class="col-5">{{nominal_strength_text|safe}}</div>
        </div>
      </div>
    </form>
  </body>
</html>
