/* Overall Formatting */

* {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header1 {
  color: black;
  padding: 15px;
  text-align: center;
  margin: auto;
}

[class*="col-"] {
  float: left;
  padding: 15px 15px 15px 15px;
  display: table-cell;
}

input {
  padding: 5px;
}

select {
  padding: 5px;
}

.unit {
  font-size: 12px;
  width: 5%;
}

.section::after {
  content: "";
  clear: both;
  display: table;
}

.section {
  flex-wrap: wrap;
  display: flex;
  margin-right: -15px;
}

.alignment {
  margin: auto;
}

/* Label Formatting */

label:not(.div_flange, .div_web, .unit) {
  font-size: 15px;
  vertical-align: middle;
}

.member_select_label {
  padding-left: 20%;
  justify-content: center;
  vertical-align: middle;
}

.member_space {
  padding-left: 43%;
  vertical-align: middle;
}

.user_input-label {
  text-align: right;
  float: left;
  clear: left;
  width: 35%;
  padding-right: 2px;
  margin-left: -20%;
  vertical-align: middle;
}

/* Input Formatting */

input {
  width: 70%;
}

/* Specifying Column Width */

.col-2 {
  width: 27.5%;
}

.col-5 {
  width: 100%;
}

.col-9 {
  width: 45%;
}

/* Indent Width */

ul {
  list-style-type: none;
  margin: 5px;
}

li {
  margin: 5px;
}

/* Specifying Media Width */

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }

  .header2 {
    text-align: center;
  }
}
